
h1 {
  font-size: 10px;
}

.mainContainer {
  border: solid 5px rgba(108,156,183,1);
  background-color: rgb(185, 216, 236);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  height: 90vh;
  margin: 15px auto;
  background-image: url(./images/macProBulb.jfif);
  opacity: 0.9;
  height: 100vH;
}

.questionBox {
  border: 3px solid red;
  border-radius: 15px;
  background-color: rgba(108,156,183,0.75);
  width: 60vw;
}

h3 {
  text-align: center;
  color: black;
  font-size: 1.52em;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Kalam', cursive;

}

.answerBox {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #bbe1fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 30px;
  /* width: 40vw; */
  align-items: center;
  background-color: rgba(108,156,183,0.75);

}

.options > button {
  background-color: f0efef;
  text-align: center;
  color: black;
  font-size: 1rem;
  margin: 10px;
  box-shadow: -5px -5px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: 'Neucha', cursive;

  padding: 25px;
  width: 40vw;
}
.options button:hover {
  background: #ccc; /* Alternative Hintergrundfarbe beim Überfahren */
  background-image: linear-gradient(grey, wheat); /*Farbverlauf*/
}

.btn-next {
  /* font-weight: 300; */
  background-color: cadetblue;
  box-shadow: -5px -5px 3px 3px rgba(0, 0, 0, 0.25);
  align-self: center;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'Kalam', cursive;

  /* margin-right: 50px; */
  /* font-size: 2em; */
  /* font-weight: bold; */
  /* width: 12vw; */
}

.btn-start {
  background-color: darkblue;
  box-shadow: -5px -5px 3px 3px rgba(0, 0, 0, 0.25);
  align-self: center;
  border-radius: 5px;
  padding: 15px 20px;
  font-family: 'Kalam', cursive;
}
