body {
  font-family: 'Source Code Pro', monospace;
}

.mainContainer {
  border: solid 1px black;;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 90vh;
  margin: 15px auto;
  background-image: url(./images/photo-1484417894907-623942c8ee29.jfif);
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  
}

.questionBox {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgba(156, 178, 192, 0.45);
  padding: 15px 25px;
  /* width: 42vw; */
  width: 22cm;
  margin-left: 5vw;
}

h3 {
  text-align: center;
  color: black;
  font-size: 1.52em;
  /* font-family: 'Kalam', cursive; */
  font-family: 'Source Code Pro', monospace;

}

.answerBox {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #bbe1fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 30px;
  /* width: 2cm; */
  align-items: center;
  background-color: rgba(156, 178, 192, 0.45);
  visibility: hidden;
  margin-left: 6vw;
  margin-top: 4vw;
}

.options > button {
  /* background-color: ; */
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  color: black;
  font-size: 1rem;
  margin: 10px;
  box-shadow: -5px -5px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 25px;
  width: 40vw;
}
.options button:hover {
  background-image: linear-gradient(rgb(147, 156, 160), rgb(172, 187, 194)); /*Farbverlauf*/
}

.btn-next {
  /* font-weight: 300; */
  background-color: rgba(156, 178, 192, 0.95);
  font-family: 'Source Code Pro', monospace;
  align-self: center;
  border-radius: 5px;
  padding: 15px 20px;
  visibility: hidden;;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 3vw;
  margin-right: 41vw;
}

.btn-next:hover {
  background-image: linear-gradient(rgb(147, 156, 160), rgb(172, 187, 194)); /*Farbverlauf*/
}


.btn-start {
  background-color: rgba(156, 178, 192, 0.45);
  border: solid 2px black;
  /* align-self: center; */
  /* justify-self: center;   */
  border-radius: 5px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Source Code Pro', monospace;
  position: absolute;
  margin-left: 25vw;

}

.btn-start:hover {
  background-image: linear-gradient(rgb(147, 156, 160), rgb(172, 187, 194)); /*Farbverlauf*/
}
.score {
  border: 1px solid black;
  background-color:  rgba(156, 178, 192, 0.8) ;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1em;
  align-self: center;
  margin-top: 10px;
  margin-right: 42vw;
  border-radius: 5px;


}